<div style="padding: 10px;">
    <em style="font-size: 11px;">Business Type - Type of facility (Gold, LPG, Domestic Freight, Hospital, Solar, Green Hydrogen, Nickle)</em>
    <!-- <mat-icon style="margin-right: 30px;"><button (click)="openDialogUpload()" placement="left" ngbTooltip="Import File">cloud_upload</button></mat-icon> -->
    <button type="button" class="btn btn-primary" (click)="openDialogBusinessType('create', null)" style="float: right; margin: 10px; font-size: small; border-color: #005cbf; background-color: #0062cc;">Add New Business Type</button>
</div>
<!-- <div class="panel-body" style="float: right; padding: 10px;"><button type="button" class="btn btn-primary" (click)="openDialogCategory()">Add</button></div> -->
<div class="table-responsive">
    <div class="export-icon">
        <button type="button" class="btn btn-link" (click)="exportExcel()" placement="bottom" ngbTooltip="Export">
          <fa-icon [icon]="['fas', 'download']" style="color: #898888; position:absolute; top: 0; right: 0;">
          </fa-icon>
        </button>
    </div>
    <div><mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 500, 1000]" showFirstLastButtons style="background-color: #e9ecef;"></mat-paginator></div>
    <table mat-table class="table table-striped" [dataSource]="dataSource" class="mat-elevation-z8">
              
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>  Id </th>
            <td mat-cell *matCellDef="let element"><a routerLink="">{{element.id}} </a></td>
        </ng-container>

        <ng-container matColumnDef="businessType">
            <th mat-header-cell *matHeaderCellDef> Asset Business Type</th>
            <td mat-cell *matCellDef="let element"> {{element.businessType}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit</th>
            <td mat-cell *matCellDef="let element"> 
                <button type="button" class="btn btn-link" (click)="openDialogBusinessType('edit', element.id)">
                    <fa-icon [icon]="['fas', 'edit']" style="color: #898888;"></fa-icon>
                </button> 
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete</th>
            <td mat-cell *matCellDef="let element"> 
                <button type="button" class="btn btn-link" (click)="deleteAction(element.id, element.industryName)">
                    <fa-icon [icon]="['fas', 'trash-alt']" style="color: #898888;"></fa-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="noRecord">
            <td class="border-none text-center mx-auto" mat-footer-row *matFooterCellDef colspan=4>
  
              <!-- <img src="./../../../../assets/images/search-for-records.png" alt="Folder with magnifying glass" class="mb-2 mt-4" *ngIf="default">
              <img src="./../../../../assets/images/no-records-found.png" alt="Folder with no results" class="mb-2 mt-4" *ngIf="!default"> -->
              <br>
              <span class="text-gray-500 text-base" *ngIf="default">No records or data displayed.</span>
              <span class="text-gray-500 text-base" *ngIf="!default">No records found.</span>
  
              <!-- You have no referrals assigned to you or your referral group. -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="['noRecord']" [ngClass]="{'hide':!(ELEMENT_DATA!=null && ELEMENT_DATA.length==0 && !loading)}"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="table-responsive" #table hidden>
    <table id="excel-table">
        <thead>
            <th>Id</th>
            <th>Asset Business Type</th>
        </thead>
        <tbody>
            <tr *ngFor="let jdata of jsonData">
                <td>{{jdata.id}}</td>
                <td>{{jdata.businessType}}</td>
            </tr>
        </tbody>
    </table>
</div>