<div class="d-flex flex-column" id="main-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/main/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/main/import-page">Import Data</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create New Asset Hierarchy</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Function Location</label>
                <input class="form-control" type="text" id="funcLoc">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <input class="form-control" type="text" id="funcLoc">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <textarea class="form-control" id="desc"></textarea>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <input class="form-control" type="text" id="desc">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <input class="form-control" type="text" id="funcLoc">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <input class="form-control" type="text" id="desc">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <input class="form-control" type="text" id="funcLoc">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <input class="form-control" type="text" id="desc">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <input class="form-control" type="text" id="funcLoc">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <input class="form-control" type="text" id="desc">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <input class="form-control" type="text" id="funcLoc">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="st-label">Description</label>
                <input class="form-control" type="text" id="desc">
            </div>
            <div class="panel-body" style="float: right;">
                <button type="button" class="btn btn-primary" >Create</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-primary">Cancel</button>
            </div>
        </div>
    </div>  
</div>
