table {
    width: 100%;
  }
  
th{
    font-size: 12px;
    font-weight: bold;
    color:#414244 ;
  }
  
  td{
    font-size: 11px;
    color:#6c757d ;
  }

  tr:nth-child(even) {
    background-color: #e9ecef;
  }

  .modal-body{
    padding:20px;
  }
  
  .modal-footer {
    border-top: none;
    justify-content: right !important;
  }
  
  .modal-header{
    height: 60px;
    background-color: #e2e2e2;
    color: #0000;
    font-size: 16px;
    margin:none  !important;
    border-bottom: none !important;
  }

  // button{
  //   border: none;
  //   background-color: transparent;
  // }