<div class="modal-header">
    <p style="color: black;"> Select Maintainable Unit Taxonomy</p>
    <hr>
</div>
<div class="modal-body">
  <mat-dialog-content>
    <div class="panel-body">    
          <div class="form-group">
              <div class="row">
                  <div class="col col-sm-4">
                      <span><label for="taxcategory" class="st-label">Maintainable Unit </label></span>                      
                  </div>
                  <div class="col col-lg-8">
                      <!-- <select class="form-control" id="taxcategory" [(ngModel)]="familyId" (change)="familyOnselect($event)" [ngModelOptions]="{standalone: true}" style="font-size: 12px;">
                          <option value=""></option>
                          <option *ngFor="let ct of taxonomyFamilyList" [value]="ct.id">{{ ct.familyComponent }}</option>
                      </select> -->
                      <input type="text" class="form-control" [(ngModel)]="familyName" disabled>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="row">
                  <div class="col col-sm-4">
                      <span><label for="taxclass" class="st-label">Maint Item</label><button type="button" class="btn" (click)="openDialogMaintItem('CreateFMEA', null, this.familyId)">
                        <i class="fa fa-plus"></i></button></span>
                  </div>
                  <div class="col col-lg-8">
                      <select class="form-control" id="taxclass" [(ngModel)]="classId" [ngModelOptions]="{standalone: true}" (change)="classOnselect($event)" style="font-size: 12px;">
                          <option value=""></option>
                          <option *ngFor="let tc of taxonomyClassList" [value]="tc.id">{{ tc.componentClass }}</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="row">
                  <div class="col col-sm-4">
                    <span><label for="taxtype" class="st-label">Sub Maint Item</label><button type="button" class="btn" (click)="openDialogSubMaintItem('CreateFMEA', null, this.classId)">
                        <i class="fa fa-plus"></i></button></span>
                  </div>
                  <div class="col col-lg-8">
                      <select class="form-control" id="taxtype" [(ngModel)]="subClassId" [ngModelOptions]="{standalone: true}" (change)="subclassOnselect($event)" style="font-size: 12px;" [disabled]="!isMaintItemSelect">
                          <option value=""></option>
                          <option *ngFor="let tp of taxonomySubClassList" [value]="tp.id">{{ tp.subClass }}</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="form-group">
            <div class="row">
                <div class="col col-sm-4">
                    <span><label for="taxtype" class="st-label">Build Spec</label><button type="button" class="btn" (click)="openDialogBuildSpec('create', null)">
                        <i class="fa fa-plus"></i></button></span>
                </div>
                <div class="col col-lg-8">
                    <select class="form-control" id="taxtype" [(ngModel)]="buildSpecId" [ngModelOptions]="{standalone: true}" (change)="buildSpecOnselect($event)" style="font-size: 12px;">
                        <option value=""></option>
                        <option *ngFor="let tp of taxonomyBuildSpecList" [value]="tp.id">{{ tp.buildSpec }}</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
                <div class="col col-sm-4">
                    <span><label for="taxtype" class="st-label">Manufacturer</label><button type="button" class="btn" (click)="openDialogManufacturer('create', null)">
                        <i class="fa fa-plus"></i></button></span>
                </div>
                <div class="col col-lg-8">
                    <select class="form-control" id="taxtype" [(ngModel)]="manufacturerId" [ngModelOptions]="{standalone: true}" (change)="manufacturerOnselect($event)" style="font-size: 12px;">
                        <option value=""></option>
                        <option *ngFor="let tp of taxonomyManufacturerList" [value]="tp.id">{{ tp.componentManufacturer }}</option>
                    </select>
                </div>
            </div>
          </div>
    </div>
    </mat-dialog-content>
</div>

<div class="modal-footer" style="float: right;">
  <hr>
  <div class="form-group">
    <button class="btn btn-outline-primary" (click)="close()">Cancel</button>
    <button class="btn btn-primary lg active" (click)="goToFMEASiteForm()" *ngIf="isSiteFmea"> Next </button>
    <button class="btn btn-primary lg active" (click)="goToFMEAForm()" *ngIf="!isSiteFmea"> Next </button>
  </div>
</div>