<mat-dialog-content>
    <div class="modal-header">
        <h6 style="color: black;">Revision: Task ID - FFT.000000007</h6>
        <hr>
        <div class="form-group">
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <mat-icon class="modal-close-icon">close</mat-icon>
            </button>
          
        </div>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                  <th>Change Field</th>
                  <th>Previous Value</th>
                  <th>New Value</th>
                  <th>Date Created</th>
                  <th>Changed By</th>
                  <th>Date Approved</th>
                  <th>Change Justification</th>
                </tr>
                <tr>
                    <td>Task Description</td>
                    <td>Short</td>
                    <td>Short Description</td>
                    <td>04/29/2021</td>
                    <td>D. Alexander</td>
                    <td>04/29/2021</td>
                    <td>Strategy changes by description, interval and duration</td>
                </tr>
                <tr>
                    <td>Frequency</td>
                    <td>1W</td>
                    <td>2W</td>
                    <td>04/29/2021</td>
                    <td>D. Alexander</td>
                    <td>04/29/2021</td>
                    <td>Strategy changes by description, interval and duration</td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td>4HR</td>
                    <td>12HR</td>
                    <td>04/29/2021</td>
                    <td>D. Alexander</td>
                    <td>04/29/2021</td>
                    <td>Strategy changes by description, interval and duration</td>
                </tr>
            </table>
        </div>
    </div>
    
</mat-dialog-content>