<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Template Title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"><img src="./../../../../../assets/images/st-modal-times-30x30.svg" class="modal-close-icon"></span>
      </button>
    </div>
    <div class="modal-body">
        Template body
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Assign</button>
      <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
</ng-template>
