html, body { height: 100%; }

.card{
  // border-left: 4px solid #009dbf !important;
  -webkit-box-shadow: 0 1px 2px #888888 !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 2px #888888 !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 1px 2px #888888 !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: .2rem;
  height: auto;
  margin: 20px 20px 10px 20px;
}

.breadcrumb{
  margin: 0 10px 0 10px;
}

.material-icons{
  color: #005493;
  font-size: 16px;
}

#criticalityInfo{
  padding: 10px;
  height: auto;
  background-color: #ffff;
}

.st-tab.active {
    color: #2d2c2b;
    border-bottom: 3px solid #007bff;
  }
  
  .st-tab{
    // padding-right: 100px;
    font-weight:500;
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black !important;
  }

  ::ng-deep .mat-ink-bar {
    border-bottom: 2px solid #007bff !important;
    background-color: #fff !important;
    z-index: 2;
  }
  
  ::ng-deep .mat-tab-header {
    background-color: #fff;
    margin: 0 -10px 0 -10px;
    padding: 0 5px !important;
    min-width: 100px !important;
  }
  
  ::ng-deep .mat-tab-group {
    font-size: 12px !important;
    padding-top: -10px !important;
    margin-top: -15px !important;
    height: auto !important; 
  }
  
  ::ng-deep .mat-tab-label {
    font-size: 12px !important;
    // width: auto !important;
    min-width: 100px !important;
    padding: 0 20px !important;
  }
  
  ::ng-deep .mat-tab-body-content{
    overflow: hidden !important;
    background-color: #fff !important;
    margin-top: -15px;
    height: auto !important; 
    // #f3f2f1
    // #e9ecef
  }