table {
    width: 100%;
  }
  
  th{
    font-size: 14px;
    font-weight: normal;
    color:#414244 ;
  }
  
  td{
    font-size: 12px;
    color:#6c757d ;
  }
  
  tr:nth-child(even) {
    background-color: #e9ecef;
  }
  
  .upload{
    color: rgb(6, 112, 6);
  }
  // button{
  //   border: none;
  //   background-color: transparent;
  // }