.min-vh-100 {
  min-height: calc(100vh - 40px) !important;
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr 12fr;

  .fields-container {
    background-color: whitesmoke;
    text-align: center;
    padding: 24px 12px 12px 12px;

    .list-container {
      text-align: left;
      margin-top: 12px;
    }

    .merge-command {
      margin-top: 12px;

      button {
        width: 100%;
      }
    }
  }

  .document-container {
    ejs-documenteditorcontainer {
      display: block;
    }
  }
}

.text-strike-through {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.text-strike-through span {
  background: #fff;
  font-weight: bold;
  font-size: 1.05rem;
  padding: 0 10px;
}

ejs-dialog {
  top: 130px !important;
}