<h6 class="card-subtitle mb-2 text-muted">Customers</h6>
<div><button type="button" class="btn btn-primary active" (click)="openDialogCustomer('Create', null)" style="font-size: 11px; border-color: #cfcccc; margin-bottom: 5px;">Add New Customer</button></div>
<div class="table-responsive">
    <div><mat-paginator [pageSizeOptions]="[50, 100, 500, 1000]" showFirstLastButtons style="background-color: #e9ecef;"></mat-paginator></div>
    <table mat-table class="table table-striped" [dataSource]="dataSource" class="mat-elevation-z8">
              
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>  Id </th>
            <td mat-cell *matCellDef="let element"><a routerLink="">{{element.id}} </a></td>
        </ng-container>

        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"
            [index]="i"> Customer Name</th>
            <td mat-cell *matCellDef="let element" class="fixWidth"> {{element.customerName}} </td>
        </ng-container>

        <ng-container matColumnDef="emailAddress">
            <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"
            [index]="i"> Email Address</th>
            <td mat-cell *matCellDef="let element" class="fixWidth"> {{element.emailAddress}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location</th>
            <td mat-cell *matCellDef="let element" class="fixWidth"> {{element.location}} </td>
        </ng-container>

        <ng-container matColumnDef="contactNumber">
            <th mat-header-cell *matHeaderCellDef> Contact Number</th>
            <td mat-cell *matCellDef="let element" class="fixWidth"> {{element.contactNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit</th>
            <td mat-cell *matCellDef="let element"> 
                <button type="button" class="btn btn-link" (click)="openDialogCustomer('Edit', element.id)">
                    <fa-icon [icon]="['fas', 'edit']" style="color: #898888;"></fa-icon>
                </button> 
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete</th>
            <td mat-cell *matCellDef="let element"> 
                <button type="button" class="btn btn-link" (click)="deleteAction(element.id)">
                    <fa-icon [icon]="['fas', 'trash-alt']" style="color: #898888;"></fa-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="noRecord">
            <td class="border-none text-center mx-auto" mat-footer-row *matFooterCellDef colspan=7>
  
              <!-- <img src="./../../../../assets/images/search-for-records.png" alt="Folder with magnifying glass" class="mb-2 mt-4" *ngIf="default">
              <img src="./../../../../assets/images/no-records-found.png" alt="Folder with no results" class="mb-2 mt-4" *ngIf="!default"> -->
              <br>
              <span class="text-gray-500 text-base" *ngIf="default">No records or data displayed.</span>
              <span class="text-gray-500 text-base" *ngIf="!default">No records found that match the search.</span>
  
              <!-- You have no referrals assigned to you or your referral group. -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="['noRecord']" [ngClass]="{'hide':!(ELEMENT_DATA!=null && ELEMENT_DATA.length==0 && !loading)}"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" class="table-row"></tr>
    </table>
</div>