.card{
  // border-left: 4px solid #009dbf !important;
  -webkit-box-shadow: 0 1px 2px #888888 !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 2px #888888 !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 1px 2px #888888 !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: .2rem;
  height: auto;
  margin: 10px 20px 10px 20px;
}

.breadcrumb{
  margin: 0 10px 0 10px;
}

.material-icons{
  color: #005493;
  font-size: 16px;
}
  
  
  table {
      width: 100%;
    }
  
  .st-tab.active {
    color: #2d2c2b;
    border-bottom: 3px solid #007bff;
  }
  
  .st-tab{
    padding-right: 100px;
    font-weight:500;
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black !important;
  }
  form{
    height: 40px;
  }
  .panel-body{
    height: 40px;
    padding-left: 10px;
  }
  
  .panel-body3{
    height: 40px;
    padding: 10px;
    // margin-top: -20px;
  }
  
  .panel-body2{
    height: 40px;
    padding: 5px;
  }
  
  .panel-body2 span{
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .panel-body4{
    height: 25px;
    margin-top: 10px;
    float: right;
    // position: relative;
  }
  
  .eam-table{
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .panel-default{
    margin-bottom: -20px;
  }
  
  #taxonomylbl{
    font-size: 14px;
  }
  
  th{
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    // color:#414244 ;
  }
  
  td{
    font-size: 11px;
    // color:#6c757d ;
  }
  
  tr:nth-child(even) {
    background-color: #e9ecef;
  }
  
  button{
    border: none;
    background-color: transparent;
  }
  
  .count{
    margin-top: 10px;
    margin-right: 20px;
    float: right;
  }
  
  input[type="text"]
  {
      font-size:12px;
  }
  
  .export-icon{
    float: right;
    right: 195px;
    margin-top: 15px;
    position: relative;
  }
  
  optgroup { font-size:12px; }
  
  .form-group{ font-size: small;}
  
  .mat-column-taskPackage{
    width: 5% !important;
  }
  
  .mat-column-attach{
    width: 7% !important;
  }
  
  :host{
    ::ng-deep {
      .mat-select-panel {
        font-size:12px;
      }
    }
  }
  