<div class="modal-header">
    <div class="form-group" style="text-align: center;">
        <button class="btn btn-primary active" (click)="close()" style="font-size: 12px;"> Add FLOC </button> &nbsp; &nbsp;
        <button class="btn btn-secondary" (click)="close()" style="font-size: 12px;">Cancel</button>
    </div>
</div>
<div class="modal-body">   
    <mat-dialog-content>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-2"><label style="font-size: 12px;">Search</label></div>
            <div class="col-10">
                <input (keyup)="applyFilter($event)" class="form-control" placeholder="Ex. FLOC or FLOC Description" #input style="width:100%; background-color: #ffff; font-size: 12px;">
            </div>
        </div>
        <div class="table-responsive" style="overflow: auto;">
            <!-- <div><mat-paginator [pageSizeOptions]="[25, 50, 100, 500, 1000]" showFirstLastButtons style="background-color: #e9ecef;"></mat-paginator></div> -->
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="isAdd">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> 
                    <!-- <span>
                        <input type="checkbox" [checked]="element.isAdd" (change)="addThis($event, element.code + ' ' + element.flocDescription)">
                    </span> -->
                    <span><input type="checkbox" [checked]="element.isAdd" (change)="addThisFloc($event, element.id)"></span>
                    <!-- <span><input type="checkbox" [checked]="element.isAdd" (change)="fetchCheckedIDs($event, element.id)"></span> -->
                    </td>
                  </ng-container>
    
                  <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef> FLOC </th>
                      <td mat-cell *matCellDef="let element"><button type="button" class="btn btn-link" style="font-size: 11px;">{{element.code}}</button></td>
                  </ng-container>
          
                  <ng-container matColumnDef="flocDescription">
                      <th mat-header-cell *matHeaderCellDef> Description </th>
                      <td mat-cell *matCellDef="let element" style="font-size: 12px;"> {{element.flocDescription}} </td>
                  </ng-container>

                  <ng-container matColumnDef="noRecord">
                    <td class="border-none text-center mx-auto" mat-footer-row *matFooterCellDef colspan=8>
          
                      <img src="./../../../../assets/images/search-for-records.png" alt="Folder with magnifying glass" class="mb-2 mt-4" *ngIf="default">
                      <img src="./../../../../assets/images/no-records-found.png" alt="Folder with no results" class="mb-2 mt-4" *ngIf="!default">
                      <br>
                      <span class="text-gray-500 text-base" *ngIf="default">Please search function loc or description to display record.</span>
                      <span class="text-gray-500 text-base" *ngIf="!default">No records found</span>
          
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                  <tr mat-footer-row *matFooterRowDef="['noRecord']" [ngClass]="{'hide':!(ELEMENT_DATA!=null && ELEMENT_DATA.length==0 && !loading)}"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-dialog-content>
</div>
