button{
    margin-left: 10px;
    float: right;
}

h6{
    text-align: center;
}

::ng-deep .mat-dialog-container{
  padding:0 !important;
  overflow: hidden !important;
}

.modal-body{
    padding:20px;
  }

  .modal-footer {
    border-top: none;
    justify-content: right !important;
  }

  .modal-header{
    height: 60px;
    background-color: #005493;
    margin:none  !important;
    border-bottom: none !important;
}

.st-label {
  font-size: 12px;
  color: #5b5a57;
}

input[type="text"]
{
    font-size:12px;
}

.form-check-label{
  font-size: small;
}

.form-check-input{
  width: 1em;;
}