@import './../../../styles/st-base/st-mixins';
@import './../../../styles/st-base/st-variables';

html, body { height: 100%; }

.td-success{
  padding: 10px 0;
  text-align: center;
  background-color: #6bc950;
  color: #fff;
}

.td-warning{
  padding: 10px 0;
  text-align: center;
  background-color: rgb(255, 207, 0);
  color: #4c2906;
}

.td-primary{
  padding: 10px 0;
  text-align: center;
  background-color: rgb(8, 173, 255);;
  color: #fff;
}

.td-danger{
  padding: 10px 0;
  text-align: center;
  background-color: #ff7fab;
  color: #fff;
}

.card{
  // border-left: 4px solid #009dbf !important;
  -webkit-box-shadow: 0 1px 2px #888888 !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 2px #888888 !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 1px 2px #888888 !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: .2rem;
  height: auto;
  margin: 10px 20px 10px 20px;
}

.breadcrumb{
  margin: 0 10px 0 10px;
}

.material-icons{
  color: #005493;
  font-size: 16px;
}

#criticalityInfo{
  padding: 10px;
  height: auto;
  background-color: #ffff;
}

.form-control::placeholder {
    opacity: 1;
    color: #aaa8a7;
  }
  
  .form-control::-webkit-input-placeholder {
    color: #aaa8a7;
  }
  
  .form-control:-moz-placeholder {
    color: #aaa8a7;
  }
  
  .form-control:-ms-input-placeholder {
    color: #aaa8a7;
  }
  
  .form-control::-moz-placeholder {
    opacity: 1;
    color: #aaa8a7;
  }

//  button .btn .btn-link{
//     color: #0000 !important;
//   }

  /* ------------------------------

    TYPOGRAPHY UTILITY CLASSES

   ------------------------------ */
.text-light {
    font-weight: 300;
  }
  
  .text-regular {
    font-weight: 400;
  }
  
  .text-semi-bold {
    font-weight: 500;
  }
  
  .text-bold {
    font-weight: 700;
  }
  
  .text-italic {
    font-style: italic;
  }
  
  .display-1 {
    font-size: 3rem !important;
  }
  
  .display-2 {
    font-size: 2.5rem !important;
  }
  
  .display-3 {
    font-size: 2rem !important;
  }
  
  .display-4 {
    font-size: 1.75rem !important;
  }
  
  .display-5 {
    font-size: 1.5rem !important;
  }
  
  .display-6 {
    font-size: 1.25rem !important;
  }

  .st-section-header {
    margin-bottom: .5rem;
  }
  
  .st-section-header h2 {
    color: #3f3f3d;
    margin-bottom: .25rem;
  }

  .mat-table {
    width: 100%;
    &.resizing {
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: col-resize;
    }
    .mat-cell {
      span {       
        display: block; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .mat-header-cell {
      position: relative;      
      &:not(:last-child) {
        .resize-holder {
          cursor: col-resize;
          width: 20px;
          height: 100%;
          position: absolute;
          right: -10px;
          top: 0;
          z-index: 1;
        }
      }
    }
    .mat-cell,
    .mat-header-cell {
      border: 1px solid rgba(0, 0, 0, 0.12);
      &:not(:nth-child(1)) {
        padding: 0 10px;
      }
    }
}

table {
  width: 100%;
  table-layout: fixed;
}

.panel-body{
  height: 600px; border: 1px solid rgba(0, 0, 0, 0.12); padding: 10px;
}

.panel-body2{
  height: 40px;
  padding: 5px;
  float: right;
  position: relative;
}

th{
  font-size: 11px;
  font-weight: 500;
  color:#414244 ;
  border-bottom: 1px solid #6c757d;
}

td{
  font-size: 11px;
  color:#6c757d ;
}

td a{
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #e9ecef;
}

button{
  border: none;
  background-color: transparent;
}

#parent{
  display: flex;
  // border: 0.25px solid rgb(182, 182, 182);
  height: 100vh;
  width: 100%;
}
#LeftCol{
  flex-grow: 1;
  width: 220px;
  resize: both;
  overflow: auto;
  padding: 15px;
  height: 90vh;
  margin-left: 10px;
  background-color: #fff;
  margin-top: 10px;
}

#LeftCol2{
  width: 25px;
  height: 90vh;
  margin-left: 10px;
  background-color: #fff;
  margin-top: 10px;
}
#RightCol{
  // border: 0.25px solid rgb(182, 182, 182);
  width: 75%;
  flex-grow: 3;
  margin: 0 -10px;
}

.st-label{
  font-size: 12px;
  margin-top: 20px;
  margin-left: 10px;
}

.st-labe2{
  font-size: 11px;
}

.link-logo{
  text-decoration: none; 
  color:#212529 ;
}

input[type=text]{
  font-size: 12px;
}

.mat-column-isAdd{
  width: 4% !important;
}

// .mat-column-taskIdentificationNo{
//   width: 6% !important;
// }

// .mat-column-parentCode{
//   width: 5% !important;
// }

// .mat-column-familyComponent{
//   width: 7% !important;
// }

// .mat-column-componentClass{
//   width: 7% !important;
// }

// .mat-column-subClass{
//   width: 7% !important;
// }

// .mat-column-buildSpec{
//   width: 7% !important;
// }

// .mat-column-componentManufacturer{
//   width: 7% !important;
// }

// .mat-column-failureMode{
//   width: 7% !important;
// }

// .mat-column-taskDescription{
//   width: 7% !important;
// }

// .mat-column-failureRiskTotalScore{
//   width: 4% !important;
// }

// .mat-column-acceptableLimits{
//   width: 7% !important;
// }

// .mat-column-correctiveActions{
//   width: 7% !important;
// }

// .mat-column-taskTypeName{
//   width: 7% !important;
// }

// .mat-column-frequencyName{
//   width: 5% !important;
// }

// .mat-column-systemStatus{
//   width: 5% !important;
// }

.mat-column-deleteFM{
  width: 4% !important;
}

::ng-deep tr.mat-footer-row {
  border: 1px solid #e7e7e7;
  font-weight: bold;
  }

  tr.mat-footer-row,
  tr.mat-row {
    border: 1px solid #e7e7e7;
    // font-weight: bold;
    overflow: hidden;
    height: 30px !important;
}

.width-fixed {
  border: 1px solid black;
  overflow: hidden;
  width: 100px;
}

.mat-header-row, .mat-row {
  min-height: 30px;
}

.table-row {
  height: 30px !important;
  overflow: hidden;
}

.list-group-item{
  font-size: 12px;
}

.card{
  margin-bottom: 10px;
}

.card-body{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.statusReview{
  cursor: pointer;
}

.statusReview:hover{
  color: rgb(234, 58, 58);
}